{{ define "admin/articletotal"}}
<div class="searchgroup">
    <div>
        <div class="dropdown year-div">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="year-text">不限</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">不限</a></li>
                <li><a href="#">2022</a></li>
                <li><a href="#">2021</a></li>
                <li><a href="#">2020</a></li>
                <li><a href="#">2019</a></li>
                <li><a href="#">2018</a></li>
                <li><a href="#">2017</a></li>
            </ul>
        </div>

        <div class="dropdown month-div">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="month-text">不限</span>  
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">不限</a></li>
                <li><a href="#">12月</a></li>
                <li><a href="#">11月</a></li>
                <li><a href="#">10月</a></li>
                <li><a href="#">09月</a></li>
                <li><a href="#">08月</a></li>
                <li><a href="#">07月</a></li>
                <li><a href="#">06月</a></li>
                <li><a href="#">05月</a></li>
                <li><a href="#">04月</a></li>
                <li><a href="#">03月</a></li>
                <li><a href="#">02月</a></li>
                <li><a href="#">01月</a></li>
            </ul>
        </div>

        <div class="dropdown category-div">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="category-text">不限</span>  
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">不限</a></li>
                {{range .Menus}}
                <li><a href="#">{{.SelfMenu.Name}}</a></li> {{end}}
            </ul>
        </div>

        <div class="keysearch-div">
            <input type="text" class="form-control" placeholder="Search for...">
        </div>

        <div class="searchbtn-div">
            <button class="btn btn-primary searchbtn" type="button">
                搜索
            </button>
        </div>
    </div>
    <!-- /.row -->
</div>
<div class="article-div">
    <ul class="list-unstyled article-ul">
        {{range .Articles}}
        <li class="article-list">
            <div class="article-ele" id="{{.Id}}">
                <a class="article-title">{{.Title}}</a>
                <span class="article-date">{{.LastEdit}}</span>
                <div class="article-subtitle-cat">
                    <span class="article-sub-title">{{.Subtitle}}</span>
                    <span class="article-cat-icon glyphicon glyphicon-folder-open"></span>
                    <span class="article-cat">{{.Cat}}</span>
                    <span class="article-subcat">{{.Subcat}}</span>
                </div>

                <div class="article-love">
                    <span class="glyphicon glyphicon-eye-open browse"></span><span class="scan-span"> 浏览({{.ScanNum}})</span>
                    <span class="glyphicon glyphicon-comment comment"></span><span class="comment-span"> 评论(4900000)</span>
                    <span class="glyphicon glyphicon-heart"></span><span class="love-span"> 喜欢({{.LoveNum}})</span>
                </div>
                <div class="article-edit">
                    <span class="edit-span">编辑</span>
                    <span class="read-span">浏览</span>
                    <span class="del-span">删除</span>
                </div>
            </div>
        </li>
        {{end}}
    </ul>
    <span hidden id="page-total">{{.Total}}</span>
    <span hidden id="page-cur">{{.Cur}}</span>
</div>
<div class="article-page">

    <nav aria-label="Page navigation">
        <ul class="pagination">
        </ul>
    </nav>
</div>
<span class="urlinfo" hidden>/admin/index</span> {{end}}