{{ define "admin/articleedit.html"}}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>恋恋风辰官方博客</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/static/admin/drag.css">
    <link rel="stylesheet" href="/static/admin/edit.css">
    <link rel="icon" href="/static/home/favicon.ico">
    <link rel="stylesheet" href="/static/lib/highlight/css/tomorrow.min.css">
</head>

<body οndragstart="return false">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="#">恋恋风辰官方博客</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right head-ul">
                    <li><a href="#">Dashboard</a></li>
                    <li class="settings"><a href="#">Settings</a></li>
                    <li>
                        <img class="img-circle head-icon" src="/static/img/head.jpg" alt="" width="50px">
                    </li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>

    <div id="toolbar-container" class="toolbar"></div>

    <div class="container edit-main">
        <div class="row">
            <div class="col-sm-12  col-md-12  main">
                <div class="title-wraper">
                    <textarea id="title-edit" placeholder="请输入文章标题（5～100个字）" cols="50" rows="1"></textarea>
                    <hr>
                    <div id="text-container" placeholder="请输入内容" class="text">
                    </div>
                </div>

                <div class="cat-wraper">
                    <div class="catgroup">

                        <div class="dropdown cat-div">
                            <span class="cat-span">分类:</span>
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                  <span class="cat-text">不限</span>
                                  <span class="caret"></span>
                                </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="javascript:void(0)">不限</a></li>
                                <li><a href="javascript:void(0)">2022</a></li>
                                <li><a href="javascript:void(0)">2021</a></li>
                                <li><a href="javascript:void(0)">2020</a></li>
                                <li><a href="javascript:void(0)">2019</a></li>
                                <li><a href="javascript:void(0)">2018</a></li>
                                <li><a href="javascript:void(0)">2017</a></li>
                            </ul>
                        </div>

                        <div class="dropdown subcat-div">
                            <span class="subcat-span">子分类:</span>
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                  <span class="subcat-text">不限</span>  
                                  <span class="caret"></span>
                                </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="javascript:void(0)">不限</a></li>
                                <li><a href="javascript:void(0)">12月</a></li>
                                <li><a href="javascript:void(0)">11月</a></li>
                                <li><a href="javascript:void(0)">10月</a></li>
                                <li><a href="javascript:void(0)">9月</a></li>
                                <li><a href="javascript:void(0)">8月</a></li>
                                <li><a href="javascript:void(0)">7月</a></li>
                                <li><a href="javascript:void(0)">6月</a></li>
                                <li><a href="javascript:void(0)">5月</a></li>
                                <li><a href="javascript:void(0)">4月</a></li>
                                <li><a href="javascript:void(0)">3月</a></li>
                                <li><a href="javascript:void(0)">2月</a></li>
                                <li><a href="javascript:void(0)">1月</a></li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="footer-publish">
                    <button class="btn btn-default temp-save-btn" type="button">
                        保存草稿
                    </button>
                    <button class="btn btn-primary publish-edit-btn" type="button">
                        发布文章
                    </button>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/lib/jquery/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/admin/index.js"></script>
    <script src="/static/admin/drag.js"></script>
    <script src="/static/admin/catedrag.js"></script>
    <script src="/static/admin/edit.js"></script>

    <script src="/static/lib/highlight/js/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/wangeditor@latest/dist/wangEditor.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.6.0/dist/highlightjs-line-numbers.min.js"></script>

    <script type="text/javascript">
    </script>
</body>

</html>
{{ end }}