{{ define "admin/articlesort.html" }}
<div class="sort-tips">
    <button class="btn btn-primary sort-save-btn" type="button">
        保存
    </button>
    <div class="sort-edit-desc">
        拖动列表实现排序，点击保存按钮生效
    </div>
</div>

<div class="sort-article-div">
    <ul class="list-unstyled sort-article-ul">
        {{range .Articles}}
        <li class="sort-article-list" articleid="{{.Id}}" draggable="true">
            <span>{{.Title}}</span>
        </li>
        {{end}}
    </ul>
</div>
{{end}}