{{ define "admin/ctgele.html"}}
<span hidden>{{.Msg}}</span>
<li class="sub-li">
    <a data-toggle="collapse" href="#{{ .CatId}}" catid="{{ .CatId}}" aria-expanded="false">{{ .CatName}}<span class="glyphicon glyphicon-menu-right"></span></a>
    <div id="{{ .CatId}}" class="collapse" aria-expanded="false">
        <ul class="nav nav-pills nav-stacked mini-sidebar">
            <li class="sub-ctg" data-target="#subCtgDialog" data-toggle="modal" draggable="true"><span>创建子分类</span></li>
        </ul>
    </div>
</li>
{{ end }}