{{ define "admin/subctgdialog"}}
<div class="modal fade" id="subCtgDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">创建子分类</h4>
            </div>
            <div class="model-input">
                <input type="text" class="form-control" placeholder="输入分类...">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary sure">提交更改</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
{{end}}