{{ define "home/article"}}
<div class="article-data">
    <div class="blog-header">
        <h1 class="blog-title">The Bootstrap Blog</h1>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
    </div>

    <div class="blog-post">
        <h2 class="blog-post-title">Sample blog post</h2>
        <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>

        <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
        <hr>
        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur
            purus sit amet fermentum.</p>
        <blockquote>
            <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </blockquote>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        <h2>Heading</h2>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        </p>
        <h3>Sub-heading</h3>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <pre><code>Example code block</code></pre>
        <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <h3>Sub-heading</h3>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
            nibh, ut fermentum massa justo sit amet risus.</p>
        <ul>
            <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
            <li>Donec id elit non mi porta gravida at eget metus.</li>
            <li>Nulla vitae elit libero, a pharetra augue.</li>
        </ul>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
        <ol>
            <li>Vestibulum id ligula porta felis euismod semper.</li>
            <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
            <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
        </ol>
        <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
    </div>
    <!-- /.blog-post -->

    <div class="blog-post">
        <h2 class="blog-post-title">Another blog post</h2>
        <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>

        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur
            purus sit amet fermentum.</p>
        <blockquote>
            <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </blockquote>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        </p>
    </div>
    <!-- /.blog-post -->

    <div class="blog-post">
        <h2 class="blog-post-title">New feature</h2>
        <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
            nibh, ut fermentum massa justo sit amet risus.</p>
        <ul>
            <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
            <li>Donec id elit non mi porta gravida at eget metus.</li>
            <li>Nulla vitae elit libero, a pharetra augue.</li>
        </ul>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
    </div>
    <!-- /.blog-post -->

    <nav>
        <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </nav>
</div>
<!-- /.blog-main -->
<!-- 底部浏览量 评论量等信息 -->
<div class="browselist clearfix">
    <ul class="list-inline">
        <li>
            <a href="JavaScript:void(0);"><span class="glyphicon glyphicon-eye-open browse"></span><span> 浏览(4900000)</span></a>
        </li>
        <li id="comment-num">
            <a href="JavaScript:void(0);"><span class="glyphicon glyphicon-comment comment"></span><span> 评论(4900000)</span></a>
        </li>
        <li id="love-num">
            <a href="JavaScript:void(0);"><span class="glyphicon glyphicon-heart-empty"></span><span class="love-span">喜欢(3400)</span></a>
            <div class="alert alert-info">已点赞!</div>
        </li>
    </ul>
</div>


<!-- 评论展示区 -->
<div class="label label-default comment-label" id="comment-label-id">热门评论</div>
<div class="comment-wrapper clearfix">
    <div class="comment-editor">

    </div>
    <button type="button" class="btn btn-primary comment-commit-btn">评论</button>
</div>

<div class="comment-list">
    <ul class="comment-list-ul list-unstyled">
        <li class="comment-ul-li">
            <div class="clearfix comment-info">
                <div class="comment-head-icon">
                    <img class="img-circle" src="https://profile.csdnimg.cn/6/9/0/3_nongweiyilady" alt="">
                </div>
                <div class="comment-user">
                    <div class="comment-name text-primary">恋恋风辰</div>
                    <div class="comment-date text-muted"> <span class="glyphicon glyphicon-time"></span> 2020-12-22 15:52</div>
                </div>
            </div>

            <div class="comment-content">
                <p>2010年正好参加工作 就开始在YY听了,在那个排麦的年代，特别希望排在你前面的人被抱下麦或者不唱了，那是一件很开心的事情，后来去QT 就找不到了，看斗鱼的这段时间就想过如果暗杠到斗鱼会不会火，现在来了依然没有火，应为好的东西肯定只有一部分比较有品位的人才能懂的，祝贺你们，你们都是有品位的</p>
            </div>

            <div class="comment-love clearfix">
                <ul class="comment-love-ul list-inline">
                    <li class="love-num-li">
                        <a href="JavaScript:void(0);"><span class="glyphicon glyphicon-heart-empty"></span><span class="love-span"> 喜欢(4900000)</span></a>
                        <div class="alert alert-info">已点赞!</div>
                    </li>
                    <li class="reply-num">
                        <a href="JavaScript:void(0);"><span class="glyphicon glyphicon-comment"></span><span class="reply-span"> 回复(4900000)</span></a>
                    </li>
                </ul>
            </div>
            <div class="clearfix reply-text">
                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="1"></textarea>
                    </div>
                </form>
                <button class="btn btn-primary reply-btn">回复</button>
            </div>
            <ul class="comment-replay list-unstyled">
                <li class="reply-ul-li">
                    <div class="clearfix reply-info">
                        <div class="reply-head-icon">
                            <img class="img-circle" src="https://profile.csdnimg.cn/7/7/A/1_secondtonone1" alt="">
                        </div>
                        <div class="reply-user">
                            <div class="reply-name text-primary">恋恋风辰</div>
                            <div class="reply-date text-muted"> <span class="glyphicon glyphicon-time"></span> 2020-12-22 15:52</div>
                        </div>
                    </div>

                    <div class="reply-content">
                        <p>有女生问我520是什么意思，我笑了:5是5个落实，落实经济结构调整，落实精准扶赏，落实社会保障，落实环境治理，落实反腐倡廉，2是2个要，既要金山银山，又要绿水青山，0是对违法犯罪行为的零容忍</p>
                    </div>

                    <div class="reply-love clearfix">
                        <ul class="reply-love-ul list-inline">
                            <li class="love-num-li">
                                <a href="JavaScript:void(0);"><span class="glyphicon glyphicon-heart-empty"></span><span class="love-span"> 喜欢(4900000)</span></a>
                                <div class="alert alert-info">已点赞!</div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>
{{ end }}