{{ define "home/article"}}
<div class="article-data">
    <div class="article-title">{{.Title}}</div>
    <div class="article-id" hidden>{{.Id}}</div>
    <div class="article-info">
        <span class="glyphicon glyphicon-gift"></span>
        <span class="article-date">Posted on {{.CreateAt}} by </span>
        <span class="article-author">{{.Author}}  </span>
        <span class="seperate">|</span>
        <span class="glyphicon glyphicon-folder-open"></span>
        <span class="incat">In</span>
        <span class="article-cat">{{.Cat}}</span>
    </div>
    <div class="article-content">
        {{.Content}}
    </div>

</div>
<!-- /.blog-main -->
<!-- 底部浏览量 评论量等信息 -->
<div class="browselist clearfix">
    <ul class="list-inline">
        <li>
            <a href="JavaScript:void(0);"><span class="glyphicon glyphicon-eye-open browse"></span><span> 浏览({{.ScanNum}})</span></a>
        </li>
        <li id="comment-num">
            <!-- <a href="JavaScript:void(0);"><span class="glyphicon glyphicon-comment comment"></span><span class="comment-span"> 评论({{.CommentNum}})</span></a> -->
        </li>
        <li id="love-num">
            <a href="JavaScript:void(0);"><span class="glyphicon glyphicon-heart-empty"></span><span class="love-span">喜欢({{.LoveNum}})</span></a>
            <div class="alert alert-info">已点赞!</div>
        </li>
    </ul>
</div>

{{ end }}