{{ define "home/articlepage.html"}} {{ template "home/header" . }}
<link rel="stylesheet" href="/static/home/articlepage.css">

<body>
    <div id="loading"><img class="loadingImg" alt="loading" src="/static/img/ajax-loader.gif"></div>
    <div id="whiteOverlay"> </div>
    <div class="ancestor">
        {{ template "home/mask" .}}
        <div class="container-fluid container-root">
            {{ template "home/navbar" . }}
            <!-- 内容区 -->
            <div class="row content">
                <!-- 页面左侧区域 -->
                <div class="col-md-2 col-sm-2 hidden-xs article-col left-side">
                    {{ template "home/articleleft" .}}
                </div>
                <!-- 文章内容区域 -->
                <div class="col-md-8 col-sm-8 col-xs-12 contant-col">
                    <div class="article-detail">
                        {{ template "home/article" .}}
                    </div>
                    <div class="alert alert-danger error-tips" role="alert"></div>
                </div>

                <!-- 页面右侧区域 -->
                <div class="col-md-2 col-sm-2 col-xs-12 right-side">
                    {{ template "home/rightside" . }}
                </div>
            </div>
            {{ template "home/footer" . }}
        </div>
    </div>

    <script type="text/javascript" src="/static/home/index.js"></script>
    <script type="text/javascript" src="/static/home/articlepage.js"></script>
    <script type="text/javascript">
        $(function() {
            loadEditor()
        })
    </script>
</body>

</html>

{{ end }}