{{define "home/comment.html"}}
<div class="res" hidden>{{.Res}}</div>
<li class="comment-ul-li" comment-id="{{.Id}}">
    <div class="clearfix comment-info">
        <div class="comment-head-icon">
            {{if eq .HeadIcon ""}}
            <img class="img-circle" src="/static/img/head.jpg" alt=""> {{else}}
            <img class="img-circle" src="https://profile.csdnimg.cn/6/9/0/3_nongweiyilady" alt=""> {{end}}
        </div>
        <div class="comment-user">
            <div class="comment-name text-primary">{{.UserName}}</div>
            <div class="comment-date text-muted"> <span class="glyphicon glyphicon-time"></span> {{.Time}}</div>
        </div>
    </div>

    <div class="comment-content">
        {{.Content}}
    </div>

    <div class="comment-love clearfix">
        <ul class="comment-love-ul list-inline">
            <li class="love-num-li">
                <a href="JavaScript:void(0);"><span class="glyphicon glyphicon-heart-empty"></span><span class="love-span"> 喜欢({{.LoveNum}})</span></a>
                <div class="alert alert-info">已点赞!</div>
            </li>
            <li class="reply-num">
                <a href="JavaScript:void(0);"><span class="glyphicon glyphicon-comment"></span><span class="reply-span"> 回复({{.ReplyNum}})</span></a>
            </li>
        </ul>
    </div>
    <div class="clearfix reply-text">
        <form role="form">
            <div class="form-group">
                <textarea class="form-control" rows="1"></textarea>
            </div>
        </form>
        <button class="btn btn-primary reply-btn">回复</button>
    </div>
    <ul class="comment-replay list-unstyled">
    </ul>
</li>
{{end}}