{{ define "home/leftside" }}

<!-- 侧边栏文章索引 -->
<div class="navbar-collapse collapse hidden-xs" id="article-navbar-collapse">
    <div id="category-name" hidden>{{.CategoryName}}</div>
    <ul class="nav nav-pills nav-stacked sidebar ">
        {{range .LeftCatList}}
        <li class="subcatli"><a data-toggle="collapse" href="#{{.CatId}}" subcat-id="{{.CatId}}" subname="{{.Name}}">{{.Name}}<span class="glyphicon glyphicon-menu-right"></span></a>
            <div id="{{.CatId}}" class="collapse">
                <ul class="nav nav-pills nav-stacked sub-sidebar">
                    {{range .SubArticle}}
                    <li class="subtitleli"><a href="JavaScript:void(0);" art-id="{{.ArtId}}">{{.ArtSubTitle}}</a></li>
                    {{end}}
                </ul>
            </div>
        </li>
        {{end}}
    </ul>
</div>


{{ end }}