{{ define "home/loading" }}
<link rel="stylesheet" href="/static/home/loading.css">
<script src="/static/home/loading.js"></script>
<div class="loadbkg">
    <!-- <div class="loadcontainer">
        <div class="loadbox">
            <div class="group">
                <span class="c8"></span>
                <span class="c2"></span>
            </div>
            <div class="group">
                <span class="c6"></span>
                <span class="c4"></span>
            </div>
        </div>
        <div class="loadbox">
            <div class="group">
                <span class="c1"></span>
                <span class="c3"></span>
            </div>
            <div class="group">
                <span class="c7"></span>
                <span class="c5"></span>
            </div>
        </div>
    </div> -->
    <div class="loadcontainer">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
{{ end }}