{{ define "home/mask"}}
<div class="mask">

</div>
<!-- Sidebar -->
<div class="xs-article-index-wrapper visible-xs">
    <ul class="nav sidebar-nav xs-article-index">
        <li class="sidebar-brand">
            <a href="#">
                C++ 专题
            </a>
        </li>
        <li><a data-toggle="collapse" href="#xs-collapseTwo">C11特性<span class="glyphicon glyphicon-menu-right"></span></a>
            <div id="xs-collapseTwo" class="collapse">
                <ul class="nav nav-pills nav-stacked sub-sidebar">
                    <li><a href="#">move操作</a></li>
                    <li><a href="#">function类</a></li>
                    <li><a href="#">mutex互斥锁</a></li>
                    <li><a href="#">thread线程类</a></li>
                    <li><a href="#">Lambda表达式</a></li>
                </ul>
            </div>
        </li>
        <li><a data-toggle="collapse" href="#xs-collapseThree">boost库<span class="glyphicon glyphicon-menu-right"></span></a>
            <div id="xs-collapseThree" class="collapse">
                <ul class="nav nav-pills nav-stacked sub-sidebar">
                    <li><a href="#">asio网络库</a></li>
                    <li><a href="#">multindex</a></li>
                    <li><a href="#">文件库</a></li>
                    <li><a href="#">容器</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>

{{end}}