{{ define "home/rightside" }}
<div class="about-div">
    <h4>恋恋风辰</h4>
    <p class="text-primary">
        大成若缺，其用不弊。<br>大盈若冲，其用不穷。
    </p>
</div>
<div class="archive-div">
    <h4>热门文章</h4>
    <ol class="list-unstyled">
        {{range .HotList}}
        <li>
            <div class="article-hot">
                <a href="#" article-id="{{.Id}}">
                    <p>{{.Title}}</p>
                </a>
                <div class="love-hot-span">
                    <span class="glyphicon glyphicon-heart-empty"></span><span class="hot-love"> 喜欢({{.LoveNum}})</span>
                    <span class="glyphicon glyphicon-eye-open browse"></span><span class="hot-scan"> 浏览({{.ScanNum}})</span>
                </div>
            </div>
        </li>
        {{end}}
    </ol>
</div>

<div class="archive-div">

</div>

<div class="elsewhere">
    <h4>其他链接</h4>
    <ol class="list-unstyled">
        <li><a href="https://github.com">GitHub</a></li>
        <li><a href="https://www.limerence2017.com">个人技术</a></li>
        <li><a href="https://www.cnblogs.com/secondtonone1/">技术园</a></li>
        <li><a href="https://blog.csdn.net/secondtonone1">CSDN</a></li>
    </ol>
</div>

<div class="gzh">

</div>

{{ end }}