/*
 * Base structure
 */


/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
    border: 0;
}


/* 标题栏头像框 */

.head-icon {
    position: relative;
    right: 10px;
}


/* 标题栏间隔 */

.settings {
    margin-right: 20px;
}

.head-ul {
    margin-right: 5px;
}

div .collapse {
    transition: all ease 1s;
}


/*
 * Sidebar
 */


/* Hide for mobile, show later */

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}


/* Sidebar navigation */

.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar>li>a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar>.active>a,
.nav-sidebar>.active>a:hover,
.nav-sidebar>.active>a:focus {
    color: #fff;
    background-color: #428bca;
}


/* 文章侧边栏箭头图标 */

.nav-sidebar li a span {
    position: absolute;
    right: 1.875rem;
    top: 50%;
    transform: translateY(-50%);
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5 ease;
}


/* 侧边栏子菜单 */

.sub-sidebar li a {
    padding-left: 30px;
}


/*侧边栏三级菜单*/

.mini-sidebar li span {
    padding-left: 40px;
    color: #494848;
    display: inline-block;
    width: 100%;
    padding: 10px 0 10px 40px;
}

.mini-sidebar li {
    padding: 0;
}

.mini-sidebar li.active {
    background-color: #428bca;
}

.mini-sidebar li.active span {
    color: #fff;
}

.sub-ctg {
    cursor: pointer;
}

.sub-ctg:hover {
    background-color: #EEEEEE;
}

.sub-ctg:hover span {
    color: #428bca;
}


/* 发布文章按钮 */

.publish-btn {
    margin-bottom: 30px;
}


/* 内容区搜索组框 */

.searchgroup {
    padding-bottom: 20px;
}

.dropdown-menu {
    min-width: 20px;
}


/* 下拉组件div */

.year-div,
.month-div,
.category-div,
.keysearch-div,
.searchbtn-div {
    display: inline-block;
    margin-right: 20px;
}


/* 搜索按钮 */

.searchbtn-div {
    margin-right: 0px;
}


/* 下拉列表按钮 */

.year-div button,
.month-div button,
.category-div button {
    padding-right: 15px;
    padding-left: 15px;
}

.year-div button,
.month-div button,
.searchbtn-div button {
    width: 80px;
    height: 35px;
}


/* 下箭头 */

.year-div button .caret,
.month-div button .caret,
.category-div button .caret {
    float: right;
    margin-top: 8px;
}


/* 下拉列表按钮浮动 */

.year-div button .year-text,
.month-div button .month-text,
.category-div button .category-text {
    float: left;
}

.category-div button {
    width: 150px;
    height: 35px;
}

.keysearch-div {
    width: 300px;
    height: 35px;
}

.keysearch-div .form-control {
    height: 35px;
}

.month-div ul,
.year-div ul,
.category-div ul {
    overflow: auto;
    max-height: 200px;
}


/* 文章区域 */

.article-ele {
    position: relative;
    width: 100%;
    height: 120px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dotted #ddd;
}

.article-title {
    position: absolute;
    color: #555666;
    font-size: 16px;
}

.article-title:hover {
    text-decoration: none;
    color: #428bca;
    cursor: pointer;
}

.article-date {
    position: absolute;
    color: #999;
    right: 0;
    font-size: 13px;
    color: #999aaa;
}

.btn-primary {
    background-color: #428bca;
    border-color: #428bca;
}

.article-love {
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    color: #999aaa;
}

.article-edit {
    position: absolute;
    bottom: 10px;
    right: 0px;
}

.article-edit span {
    display: inline-block;
    padding-right: 10px;
}

.article-edit span:hover {
    cursor: pointer;
    color: #428bca;
}

.sort-edit-btn,
.sort-save-btn {
    width: 80px;
    height: 35px;
}

.sort-edit-btn,
.article-pub-btn {
    margin-right: 30px;
}

.sort-save-btn {
    float: right;
}

.sort-edit-desc {
    padding: 15px;
    color: #428bca;
}

.sort-edit {
    padding-bottom: 15px;
    border-bottom: dotted #ddd 1px;
}

.sort-tips {
    padding-bottom: 10px;
}

.sort-article-list {
    padding: 15px 0 10px 0;
    border-bottom: 1px dotted #ddd;
}

.sort-article-list:hover {
    background-color: #EEEEEE;
    cursor: move;
}

.sort-article-list:hover span {
    color: #428bca;
}

.sort-article-list.over {
    border-top: 2px solid #AAAAAA;
}

.sort-article-list span {
    display: inline-block;
    padding-left: 15px;
    color: #555666;
    font-size: 16px;
}


/*footer区域*/

.blog-footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}


/*模态框部分*/

.modal-dialog {
    margin: 180px auto;
    width: 300px;
}

.modal-header {
    border-bottom: none;
}

.model-input {
    padding: 0 5px;
}

.modal-footer {
    border-top: none;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}